/* COLORS */
/* COLORS */
/* line 5, ../../../sass/colors/blue/style.scss */
a:hover, a:focus {
  color: #3598db;
}

/* line 10, ../../../sass/colors/blue/style.scss */
ul.inline {
  /* end li */
}
/* line 11, ../../../sass/colors/blue/style.scss */
ul.inline li {
  /* end a */
  /* end node-readmore */
}
/* line 12, ../../../sass/colors/blue/style.scss */
ul.inline li a {
  color: #3598db;
}
/* line 14, ../../../sass/colors/blue/style.scss */
ul.inline li a:hover, ul.inline li a:focus {
  color: #333333;
}
/* line 18, ../../../sass/colors/blue/style.scss */
ul.inline li.node-readmore {
  /* end a */
}
/* line 19, ../../../sass/colors/blue/style.scss */
ul.inline li.node-readmore a {
  background: #3598db;
  color: white;
}
/* line 22, ../../../sass/colors/blue/style.scss */
ul.inline li.node-readmore a:hover, ul.inline li.node-readmore a:focus {
  background: #333333;
}

/* search */
/* line 34, ../../../sass/colors/blue/style.scss */
#block-search-form:hover, #block-search-form:focus {
  color: #3598db;
}

/* view */
/* line 40, ../../../sass/colors/blue/style.scss */
.views-field-title a:hover, .views-field-title a:focus {
  color: #3598db;
}

/* line 45, ../../../sass/colors/blue/style.scss */
.views-field-sell-price {
  color: #3598db;
  font-family: "roboto_slabregular";
  font-size: 1.071em;
}

/* line 52, ../../../sass/colors/blue/style.scss */
.wp-group-image .views-field-addtocartlink:hover {
  background: #3598db;
}
/* line 57, ../../../sass/colors/blue/style.scss */
.wp-group-image .views-field-view-node:hover {
  background: #3598db;
}

/* line 65, ../../../sass/colors/blue/style.scss */
.form-submit:hover, .form-submit:focus,
.form-actions > a:hover,
.form-actions > a:focus {
  background: #3598db;
  border-color: #3598db;
}

/* line 73, ../../../sass/colors/blue/style.scss */
.form-submit[value="Checkout"],
#edit-continue,
#edit-submit {
  background: #3598db;
  border-color: #3598db;
}
/* line 76, ../../../sass/colors/blue/style.scss */
.form-submit[value="Checkout"]:hover, .form-submit[value="Checkout"]:focus,
#edit-continue:hover,
#edit-continue:focus,
#edit-submit:hover,
#edit-submit:focus {
  background: #333333;
  border-color: #333333;
}

/* menu */
/* line 88, ../../../sass/colors/blue/style.scss */
.navbar-default ul.menu li a.active, .navbar-default ul.menu li a.active-trail {
  color: #3598db;
}

/* .tb-megamenu */
/* line 101, ../../../sass/colors/blue/style.scss */
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
  color: #3598db;
}
/* line 108, ../../../sass/colors/blue/style.scss */
.tb-megamenu .nav > li.active > a, .tb-megamenu .nav > li.active > a:hover, .tb-megamenu .nav > li.active > a:focus {
  color: #3598db;
}
/* line 114, ../../../sass/colors/blue/style.scss */
.tb-megamenu .nav > li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
  color: #3598db;
}
/* line 119, ../../../sass/colors/blue/style.scss */
.tb-megamenu .dropdown-menu {
  /* end li */
}
/* line 123, ../../../sass/colors/blue/style.scss */
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
  color: #3598db;
}
/* line 129, ../../../sass/colors/blue/style.scss */
.tb-megamenu .dropdown-menu li.active > a, .tb-megamenu .dropdown-menu li.active > a:hover {
  color: #3598db;
}
/* line 136, ../../../sass/colors/blue/style.scss */
.tb-megamenu .dropdown-menu .views-field-title a:hover, .tb-megamenu .dropdown-menu .views-field-title a:focus {
  color: #3598db;
}
/* line 142, ../../../sass/colors/blue/style.scss */
.tb-megamenu .mega-dropdown-menu-more {
  /* end tb-block */
}
/* line 145, ../../../sass/colors/blue/style.scss */
.tb-megamenu .mega-dropdown-menu-more .tb-block .views-field-taxonomy-catalog a {
  color: #999999;
}
/* line 152, ../../../sass/colors/blue/style.scss */
.tb-megamenu .btn-navbar {
  color: #3598db;
}
/* line 154, ../../../sass/colors/blue/style.scss */
.tb-megamenu .btn-navbar [class^="icon-"] {
  color: #3598db;
}

/* View slideshow */
/* line 165, ../../../sass/colors/blue/style.scss */
.main-slideshow .slideshow-content input[type="submit"],
.wp-slideshow2 .slideshow-content input[type="submit"] {
  background-color: #3598db;
  border-color: #3598db;
}
/* line 172, ../../../sass/colors/blue/style.scss */
.main-slideshow .views-slideshow-controls-text-previous:hover, .main-slideshow .views-slideshow-controls-text-previous:focus,
.main-slideshow .views-slideshow-controls-text-next:hover,
.main-slideshow .views-slideshow-controls-text-next:focus,
.wp-slideshow2 .views-slideshow-controls-text-previous:hover,
.wp-slideshow2 .views-slideshow-controls-text-previous:focus,
.wp-slideshow2 .views-slideshow-controls-text-next:hover,
.wp-slideshow2 .views-slideshow-controls-text-next:focus {
  background: #3598db;
}

/* Bootstrap slideshow */
/* line 182, ../../../sass/colors/blue/style.scss */
.bootstrap-slideshow .carousel-inner .slideshow-content input[type="submit"]:hover, .bootstrap-slideshow .carousel-inner .slideshow-content input[type="submit"]:focus {
  border-color: #3598db;
  color: #3598db;
}

/* line 192, ../../../sass/colors/blue/style.scss */
.carousel-control:hover, .carousel-control:focus {
  background: #3598db;
}

/* .wp-slideshow2 */
/* line 201, ../../../sass/colors/blue/style.scss */
.wp-slideshow-link .views-field-field-link a:hover, .wp-slideshow-link .views-field-field-link a:focus,
.wp-slideshow-link .views-field-field-link2 a:hover,
.wp-slideshow-link .views-field-field-link2 a:focus,
.wp-collection .views-field-field-link a:hover,
.wp-collection .views-field-field-link a:focus {
  background-color: #3598db;
  border-color: #3598db;
}

/* line 211, ../../../sass/colors/blue/style.scss */
.wp-slideshow2 .wp-slideshow-link .views-field-field-link a:hover, .wp-slideshow2 .wp-slideshow-link .views-field-field-link a:focus,
.wp-slideshow2 .wp-slideshow-link .views-field-field-link2 a:hover,
.wp-slideshow2 .wp-slideshow-link .views-field-field-link2 a:focus {
  background-color: #3598db;
  border-color: #3598db;
}

/* */
/* line 222, ../../../sass/colors/blue/style.scss */
.panel-column .block-menu ul.menu li a:hover,
.panel-column .block-menu ul.menu li a:focus {
  color: #3598db;
}

/* line 228, ../../../sass/colors/blue/style.scss */
.tagclouds-term a:hover, .tagclouds-term a:focus {
  border-color: #3598db;
  color: #3598db;
}

/* line 235, ../../../sass/colors/blue/style.scss */
.block-system .tagclouds-term a:hover, .block-system .tagclouds-term a:focus {
  color: #3598db;
}

/* line 245, ../../../sass/colors/blue/style.scss */
#panel-footer .block-menu ul.menu li a:hover, #panel-footer .block-menu ul.menu li a:focus {
  color: #3598db;
}

/* line 255, ../../../sass/colors/blue/style.scss */
#footer a {
  color: #3598db;
}
/* line 257, ../../../sass/colors/blue/style.scss */
#footer a:hover, #footer a:focus {
  color: white;
}
/* line 265, ../../../sass/colors/blue/style.scss */
#footer .social-list li a:hover, #footer .social-list li a:focus {
  color: #3598db;
}

/* line 275, ../../../sass/colors/blue/style.scss */
#newsletter-subscribe-form #subscribe:hover:after {
  border-left-color: #3598db;
}

/* line 281, ../../../sass/colors/blue/style.scss */
.btn-btt {
  background: #3598db;
}
/* line 283, ../../../sass/colors/blue/style.scss */
.btn-btt:hover, .btn-btt:focus {
  background: #333333;
}

/* line 288, ../../../sass/colors/blue/style.scss */
.main-title {
  background: #3598db;
}

/* blog */
/* line 296, ../../../sass/colors/blue/style.scss */
.page-blog .action-links li a {
  background: #3598db;
}
/* line 298, ../../../sass/colors/blue/style.scss */
.page-blog .action-links li a:hover, .page-blog .action-links li a:focus {
  background: #333333;
}

/* line 307, ../../../sass/colors/blue/style.scss */
.view-blog-view .blog-extra-info {
  color: #999999;
  font-size: .929em;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
/* line 144, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info:after {
  border-bottom: 1px solid #f0f0f0;
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100px;
}
/* line 152, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info a {
  color: #1abc9c;
}
/* line 154, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info a:hover, .view-blog-view .blog-extra-info a:focus {
  color: #999999;
}
/* line 159, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info > span > span + span {
  margin-left: 10px;
}
/* line 162, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info > span i {
  margin-right: 8px;
}
/* line 309, ../../../sass/colors/blue/style.scss */
.view-blog-view .blog-extra-info a {
  color: #3598db;
}
/* line 311, ../../../sass/colors/blue/style.scss */
.view-blog-view .blog-extra-info a:hover, .view-blog-view .blog-extra-info a:focus {
  color: #999999;
}
/* line 318, ../../../sass/colors/blue/style.scss */
.view-blog-view .views-field-view-node a:hover, .view-blog-view .views-field-view-node a:focus {
  background: #3598db;
}

/* node */
/* line 327, ../../../sass/colors/blue/style.scss */
.node .submitted {
  color: #999999;
  font-size: .929em;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
/* line 144, ../../../sass/includes/_mixins.scss */
.node .submitted:after {
  border-bottom: 1px solid #f0f0f0;
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100px;
}
/* line 152, ../../../sass/includes/_mixins.scss */
.node .submitted a {
  color: #1abc9c;
}
/* line 154, ../../../sass/includes/_mixins.scss */
.node .submitted a:hover, .node .submitted a:focus {
  color: #999999;
}
/* line 159, ../../../sass/includes/_mixins.scss */
.node .submitted > span > span + span {
  margin-left: 10px;
}
/* line 162, ../../../sass/includes/_mixins.scss */
.node .submitted > span i {
  margin-right: 8px;
}
/* line 329, ../../../sass/colors/blue/style.scss */
.node .submitted a {
  color: #3598db;
}
/* line 331, ../../../sass/colors/blue/style.scss */
.node .submitted a:hover, .node .submitted a:focus {
  color: #999999;
}

/* line 339, ../../../sass/colors/blue/style.scss */
.node-wp-product .group-item-info {
  /* add-to-cart */
}
/* line 341, ../../../sass/colors/blue/style.scss */
.node-wp-product .group-item-info .sell-price .uc-price {
  color: #3598db;
}
/* line 347, ../../../sass/colors/blue/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-cart {
  background-color: #3598db;
  border-color: #3598db;
}
/* line 350, ../../../sass/colors/blue/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-cart:hover, .node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-cart:focus {
  background-color: #333333;
  border-color: #333333;
}
/* line 355, ../../../sass/colors/blue/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-wishlist {
  background: #f0f0f0;
  border-color: #f0f0f0;
  color: #999999;
  margin-left: 10px;
}
/* line 360, ../../../sass/colors/blue/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-wishlist:hover, .node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-wishlist:focus {
  background: #333333;
  color: white;
}

/* Primary */
/* line 374, ../../../sass/colors/blue/style.scss */
ul.primary li.active a {
  border-color: #3598db;
  background: #3598db;
}

/* user-login */
/* line 383, ../../../sass/colors/blue/style.scss */
.profile a {
  color: #3598db;
}
/* line 386, ../../../sass/colors/blue/style.scss */
.profile a:hover, .profile a:focus {
  color: #333333;
}

/* wp-404 */
/* line 394, ../../../sass/colors/blue/style.scss */
.wp-404 .wp-return-back {
  background: #3598db;
}
/* line 396, ../../../sass/colors/blue/style.scss */
.wp-404 .wp-return-back:hover, .wp-404 .wp-return-back:focus {
  background: #333333;
}

/* check out */
/* line 409, ../../../sass/colors/blue/style.scss */
#cart-form-pane table td.subtotal .uc-price,
#cart-pane table td.subtotal .uc-price,
.order-review-table table td.subtotal .uc-price {
  color: #3598db;
}

/* line 419, ../../../sass/colors/blue/style.scss */
.uc-cart-checkout-form .fieldset-wrapper a {
  color: #3598db;
}
/* line 421, ../../../sass/colors/blue/style.scss */
.uc-cart-checkout-form .fieldset-wrapper a:hover, .uc-cart-checkout-form .fieldset-wrapper a:focus {
  color: #333333;
}

/* block */
/* line 430, ../../../sass/colors/blue/style.scss */
.wp-cart-status .shopping-bad {
  background: #3598db;
}

/* line 435, ../../../sass/colors/blue/style.scss */
.sidebar {
  /* end quicktabs-tabs */
  /* end quicktabs-tabpage */
}
/* line 125, ../../../sass/includes/_mixins.scss */
.sidebar .item-list .quicktabs-tabs li.active:after {
  height: 0;
  border-top: 5px solid #1abc9c;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
/* line 439, ../../../sass/colors/blue/style.scss */
.sidebar .item-list .quicktabs-tabs li.active:after {
  border-top-color: #3598db;
}
/* line 442, ../../../sass/colors/blue/style.scss */
.sidebar .item-list .quicktabs-tabs li.active a {
  background: #3598db;
}
/* line 451, ../../../sass/colors/blue/style.scss */
.sidebar .quicktabs-tabpage .views-field-title a:hover, .sidebar .quicktabs-tabpage .views-field-title a:focus {
  color: #3598db;
}

/* line 459, ../../../sass/colors/blue/style.scss */
.ui-slider .ui-slider-range {
  background: #3598db;
}

/* faqs */
/* line 466, ../../../sass/colors/blue/style.scss */
.faq-question.faq-qa-visible .active {
  color: #3598db;
}

/* latest-blog */
/* line 474, ../../../sass/colors/blue/style.scss */
.latest-blog .views-field-type-image {
  background: #3598db;
}

/* line 481, ../../../sass/colors/blue/style.scss */
.wp-blog-masonry .views-field-field-image,
.wp-blog-masonry .views-field-field-video {
  background: #3598db;
}
/* line 485, ../../../sass/colors/blue/style.scss */
.wp-blog-masonry .views-field-name a {
  color: #3598db;
}

/* line 493, ../../../sass/colors/blue/style.scss */
.wp-blog-mix .views-field-type-image,
.wp-blog-mix .views-field-field-video {
  background: #3598db;
}

/* line 499, ../../../sass/colors/blue/style.scss */
.wp-ads li {
  background: #3598db;
}
/* line 501, ../../../sass/colors/blue/style.scss */
.wp-ads li + li {
  background: rgba(53, 152, 219, 0.9);
}
/* line 503, ../../../sass/colors/blue/style.scss */
.wp-ads li + li + li {
  background: rgba(53, 152, 219, 0.8);
}
/* line 505, ../../../sass/colors/blue/style.scss */
.wp-ads li + li + li + li {
  background: rgba(53, 152, 219, 0.7);
}
/* line 507, ../../../sass/colors/blue/style.scss */
.wp-ads li + li + li + li + li {
  background: rgba(53, 152, 219, 0.6);
}

/* login */
/* line 521, ../../../sass/colors/blue/style.scss */
#wp-user-wrapper #user-login-form .item-list li a:hover, #wp-user-wrapper #user-login-form .item-list li a :focus {
  color: #3598db;
}
/* line 527, ../../../sass/colors/blue/style.scss */
#wp-user-wrapper #user-login-form .form-submit:hover, #wp-user-wrapper #user-login-form .form-submit:focus {
  background: #3598db;
  border-color: #3598db;
}

/* wp-special-button */
/* line 537, ../../../sass/colors/blue/style.scss */
.wp-special-button:hover, .wp-special-button:focus {
  color: #3598db;
}
