/* COLORS */
/* COLORS */
/* line 5, ../../../sass/colors/yellow/style.scss */
a:hover, a:focus {
  color: #e9bf1d;
}

/* line 10, ../../../sass/colors/yellow/style.scss */
ul.inline {
  /* end li */
}
/* line 11, ../../../sass/colors/yellow/style.scss */
ul.inline li {
  /* end a */
  /* end node-readmore */
}
/* line 12, ../../../sass/colors/yellow/style.scss */
ul.inline li a {
  color: #e9bf1d;
}
/* line 14, ../../../sass/colors/yellow/style.scss */
ul.inline li a:hover, ul.inline li a:focus {
  color: #333333;
}
/* line 18, ../../../sass/colors/yellow/style.scss */
ul.inline li.node-readmore {
  /* end a */
}
/* line 19, ../../../sass/colors/yellow/style.scss */
ul.inline li.node-readmore a {
  background: #e9bf1d;
  color: white;
}
/* line 22, ../../../sass/colors/yellow/style.scss */
ul.inline li.node-readmore a:hover, ul.inline li.node-readmore a:focus {
  background: #333333;
}

/* search */
/* line 33, ../../../sass/colors/yellow/style.scss */
#block-search-form:hover, #block-search-form:focus {
  color: #e9bf1d;
}

/* view */
/* line 39, ../../../sass/colors/yellow/style.scss */
.views-field-title a:hover, .views-field-title a:focus {
  color: #e9bf1d;
}

/* line 44, ../../../sass/colors/yellow/style.scss */
.views-field-sell-price {
  color: #e9bf1d;
  font-family: "roboto_slabregular";
  font-size: 1.071em;
}

/* line 51, ../../../sass/colors/yellow/style.scss */
.wp-group-image .views-field-addtocartlink:hover {
  background: #e9bf1d;
}
/* line 56, ../../../sass/colors/yellow/style.scss */
.wp-group-image .views-field-view-node:hover {
  background: #e9bf1d;
}

/* line 64, ../../../sass/colors/yellow/style.scss */
.form-submit:hover, .form-submit:focus,
.form-actions > a:hover,
.form-actions > a:focus {
  background: #e9bf1d;
  border-color: #e9bf1d;
}

/* line 72, ../../../sass/colors/yellow/style.scss */
.form-submit[value="Checkout"],
#edit-continue,
#edit-submit {
  background: #e9bf1d;
  border-color: #e9bf1d;
}
/* line 75, ../../../sass/colors/yellow/style.scss */
.form-submit[value="Checkout"]:hover, .form-submit[value="Checkout"]:focus,
#edit-continue:hover,
#edit-continue:focus,
#edit-submit:hover,
#edit-submit:focus {
  background: #333333;
  border-color: #333333;
}

/* menu */
/* line 87, ../../../sass/colors/yellow/style.scss */
.navbar-default ul.menu li a.active, .navbar-default ul.menu li a.active-trail {
  color: #e9bf1d;
}

/* .tb-megamenu */
/* line 100, ../../../sass/colors/yellow/style.scss */
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
  color: #e9bf1d;
}
/* line 107, ../../../sass/colors/yellow/style.scss */
.tb-megamenu .nav > li.active > a, .tb-megamenu .nav > li.active > a:hover, .tb-megamenu .nav > li.active > a:focus {
  color: #e9bf1d;
}
/* line 113, ../../../sass/colors/yellow/style.scss */
.tb-megamenu .nav > li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
  color: #e9bf1d;
}
/* line 118, ../../../sass/colors/yellow/style.scss */
.tb-megamenu .dropdown-menu {
  /* end li */
}
/* line 122, ../../../sass/colors/yellow/style.scss */
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
  color: #e9bf1d;
}
/* line 128, ../../../sass/colors/yellow/style.scss */
.tb-megamenu .dropdown-menu li.active > a, .tb-megamenu .dropdown-menu li.active > a:hover {
  color: #e9bf1d;
}
/* line 135, ../../../sass/colors/yellow/style.scss */
.tb-megamenu .dropdown-menu .views-field-title a:hover, .tb-megamenu .dropdown-menu .views-field-title a:focus {
  color: #e9bf1d;
}
/* line 141, ../../../sass/colors/yellow/style.scss */
.tb-megamenu .mega-dropdown-menu-more {
  /* end tb-block */
}
/* line 144, ../../../sass/colors/yellow/style.scss */
.tb-megamenu .mega-dropdown-menu-more .tb-block .views-field-taxonomy-catalog a {
  color: #999999;
}

/* View slideshow */
/* line 157, ../../../sass/colors/yellow/style.scss */
.main-slideshow .slideshow-content input[type="submit"],
.wp-slideshow2 .slideshow-content input[type="submit"] {
  background-color: #e9bf1d;
  border-color: #e9bf1d;
}
/* line 164, ../../../sass/colors/yellow/style.scss */
.main-slideshow .views-slideshow-controls-text-previous:hover, .main-slideshow .views-slideshow-controls-text-previous:focus,
.main-slideshow .views-slideshow-controls-text-next:hover,
.main-slideshow .views-slideshow-controls-text-next:focus,
.wp-slideshow2 .views-slideshow-controls-text-previous:hover,
.wp-slideshow2 .views-slideshow-controls-text-previous:focus,
.wp-slideshow2 .views-slideshow-controls-text-next:hover,
.wp-slideshow2 .views-slideshow-controls-text-next:focus {
  background: #e9bf1d;
}

/* Bootstrap slideshow */
/* line 174, ../../../sass/colors/yellow/style.scss */
.bootstrap-slideshow .carousel-inner .slideshow-content input[type="submit"]:hover, .bootstrap-slideshow .carousel-inner .slideshow-content input[type="submit"]:focus {
  border-color: #e9bf1d;
  color: #e9bf1d;
}

/* line 184, ../../../sass/colors/yellow/style.scss */
.carousel-control:hover, .carousel-control:focus {
  background: #e9bf1d;
}

/* .wp-slideshow2 */
/* line 193, ../../../sass/colors/yellow/style.scss */
.wp-slideshow-link .views-field-field-link a:hover, .wp-slideshow-link .views-field-field-link a:focus,
.wp-slideshow-link .views-field-field-link2 a:hover,
.wp-slideshow-link .views-field-field-link2 a:focus,
.wp-collection .views-field-field-link a:hover,
.wp-collection .views-field-field-link a:focus {
  background-color: #e9bf1d;
  border-color: #e9bf1d;
}

/* line 203, ../../../sass/colors/yellow/style.scss */
.wp-slideshow2 .wp-slideshow-link .views-field-field-link a:hover, .wp-slideshow2 .wp-slideshow-link .views-field-field-link a:focus,
.wp-slideshow2 .wp-slideshow-link .views-field-field-link2 a:hover,
.wp-slideshow2 .wp-slideshow-link .views-field-field-link2 a:focus {
  background-color: #e9bf1d;
  border-color: #e9bf1d;
}

/* */
/* line 214, ../../../sass/colors/yellow/style.scss */
.panel-column .block-menu ul.menu li a:hover,
.panel-column .block-menu ul.menu li a:focus {
  color: #e9bf1d;
}

/* line 220, ../../../sass/colors/yellow/style.scss */
.tagclouds-term a:hover, .tagclouds-term a:focus {
  border-color: #e9bf1d;
  color: #e9bf1d;
}

/* line 227, ../../../sass/colors/yellow/style.scss */
.block-system .tagclouds-term a:hover, .block-system .tagclouds-term a:focus {
  color: #e9bf1d;
}

/* line 237, ../../../sass/colors/yellow/style.scss */
#panel-footer .block-menu ul.menu li a:hover, #panel-footer .block-menu ul.menu li a:focus {
  color: #e9bf1d;
}

/* line 247, ../../../sass/colors/yellow/style.scss */
#footer a {
  color: #e9bf1d;
}
/* line 249, ../../../sass/colors/yellow/style.scss */
#footer a:hover, #footer a:focus {
  color: white;
}
/* line 257, ../../../sass/colors/yellow/style.scss */
#footer .social-list li a:hover, #footer .social-list li a:focus {
  color: #e9bf1d;
}

/* line 267, ../../../sass/colors/yellow/style.scss */
#newsletter-subscribe-form #subscribe:hover:after {
  border-left-color: #e9bf1d;
}

/* line 273, ../../../sass/colors/yellow/style.scss */
.btn-btt {
  background: #e9bf1d;
}
/* line 275, ../../../sass/colors/yellow/style.scss */
.btn-btt:hover, .btn-btt:focus {
  background: #333333;
}

/* line 280, ../../../sass/colors/yellow/style.scss */
.main-title {
  background: #e9bf1d;
}

/* blog */
/* line 288, ../../../sass/colors/yellow/style.scss */
.page-blog .action-links li a {
  background: #e9bf1d;
}
/* line 290, ../../../sass/colors/yellow/style.scss */
.page-blog .action-links li a:hover, .page-blog .action-links li a:focus {
  background: #333333;
}

/* line 299, ../../../sass/colors/yellow/style.scss */
.view-blog-view .blog-extra-info {
  color: #999999;
  font-size: .929em;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
/* line 144, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info:after {
  border-bottom: 1px solid #f0f0f0;
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100px;
}
/* line 152, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info a {
  color: #1abc9c;
}
/* line 154, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info a:hover, .view-blog-view .blog-extra-info a:focus {
  color: #999999;
}
/* line 159, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info > span > span + span {
  margin-left: 10px;
}
/* line 162, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info > span i {
  margin-right: 8px;
}
/* line 301, ../../../sass/colors/yellow/style.scss */
.view-blog-view .blog-extra-info a {
  color: #e9bf1d;
}
/* line 303, ../../../sass/colors/yellow/style.scss */
.view-blog-view .blog-extra-info a:hover, .view-blog-view .blog-extra-info a:focus {
  color: #999999;
}
/* line 310, ../../../sass/colors/yellow/style.scss */
.view-blog-view .views-field-view-node a:hover, .view-blog-view .views-field-view-node a:focus {
  background: #e9bf1d;
}

/* node */
/* line 319, ../../../sass/colors/yellow/style.scss */
.node .submitted {
  color: #999999;
  font-size: .929em;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
/* line 144, ../../../sass/includes/_mixins.scss */
.node .submitted:after {
  border-bottom: 1px solid #f0f0f0;
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100px;
}
/* line 152, ../../../sass/includes/_mixins.scss */
.node .submitted a {
  color: #1abc9c;
}
/* line 154, ../../../sass/includes/_mixins.scss */
.node .submitted a:hover, .node .submitted a:focus {
  color: #999999;
}
/* line 159, ../../../sass/includes/_mixins.scss */
.node .submitted > span > span + span {
  margin-left: 10px;
}
/* line 162, ../../../sass/includes/_mixins.scss */
.node .submitted > span i {
  margin-right: 8px;
}
/* line 321, ../../../sass/colors/yellow/style.scss */
.node .submitted a {
  color: #e9bf1d;
}
/* line 323, ../../../sass/colors/yellow/style.scss */
.node .submitted a:hover, .node .submitted a:focus {
  color: #999999;
}

/* line 331, ../../../sass/colors/yellow/style.scss */
.node-wp-product .group-item-info {
  /* add-to-cart */
}
/* line 333, ../../../sass/colors/yellow/style.scss */
.node-wp-product .group-item-info .sell-price .uc-price {
  color: #e9bf1d;
}
/* line 339, ../../../sass/colors/yellow/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-cart {
  background-color: #e9bf1d;
  border-color: #e9bf1d;
}
/* line 342, ../../../sass/colors/yellow/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-cart:hover, .node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-cart:focus {
  background-color: #333333;
  border-color: #333333;
}
/* line 347, ../../../sass/colors/yellow/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-wishlist {
  background: #f0f0f0;
  border-color: #f0f0f0;
}
/* line 350, ../../../sass/colors/yellow/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-wishlist:hover, .node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-wishlist:focus {
  background: #333333;
}

/* Primary */
/* line 363, ../../../sass/colors/yellow/style.scss */
ul.primary li.active a {
  border-color: #e9bf1d;
  background: #e9bf1d;
}

/* user-login */
/* line 372, ../../../sass/colors/yellow/style.scss */
.profile a {
  color: #e9bf1d;
}
/* line 375, ../../../sass/colors/yellow/style.scss */
.profile a:hover, .profile a:focus {
  color: #333333;
}

/* wp-404 */
/* line 383, ../../../sass/colors/yellow/style.scss */
.wp-404 .wp-return-back {
  background: #e9bf1d;
}
/* line 385, ../../../sass/colors/yellow/style.scss */
.wp-404 .wp-return-back:hover, .wp-404 .wp-return-back:focus {
  background: #333333;
}

/* check out */
/* line 398, ../../../sass/colors/yellow/style.scss */
#cart-form-pane table td.subtotal .uc-price,
#cart-pane table td.subtotal .uc-price,
.order-review-table table td.subtotal .uc-price {
  color: #e9bf1d;
}

/* line 408, ../../../sass/colors/yellow/style.scss */
.uc-cart-checkout-form .fieldset-wrapper a {
  color: #e9bf1d;
}
/* line 410, ../../../sass/colors/yellow/style.scss */
.uc-cart-checkout-form .fieldset-wrapper a:hover, .uc-cart-checkout-form .fieldset-wrapper a:focus {
  color: #333333;
}

/* block */
/* line 419, ../../../sass/colors/yellow/style.scss */
.wp-cart-status .shopping-bad {
  background: #e9bf1d;
}

/* line 424, ../../../sass/colors/yellow/style.scss */
.sidebar {
  /* end quicktabs-tabs */
  /* end quicktabs-tabpage */
}
/* line 125, ../../../sass/includes/_mixins.scss */
.sidebar .item-list .quicktabs-tabs li.active:after {
  height: 0;
  border-top: 5px solid #1abc9c;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
/* line 429, ../../../sass/colors/yellow/style.scss */
.sidebar .item-list .quicktabs-tabs li.active:after {
  border-top-color: #e9bf1d;
}
/* line 432, ../../../sass/colors/yellow/style.scss */
.sidebar .item-list .quicktabs-tabs li.active a {
  background: #e9bf1d;
}
/* line 443, ../../../sass/colors/yellow/style.scss */
.sidebar .quicktabs-tabpage .views-field-title a:hover, .sidebar .quicktabs-tabpage .views-field-title a:focus {
  color: #e9bf1d;
}

/* line 451, ../../../sass/colors/yellow/style.scss */
.ui-slider .ui-slider-range {
  background: #e9bf1d;
}

/* faqs */
/* line 458, ../../../sass/colors/yellow/style.scss */
.faq-question.faq-qa-visible .active {
  color: #e9bf1d;
}

/* latest-blog */
/* line 466, ../../../sass/colors/yellow/style.scss */
.latest-blog .views-field-type-image {
  background: #e9bf1d;
}

/* line 473, ../../../sass/colors/yellow/style.scss */
.wp-blog-masonry .views-field-field-image,
.wp-blog-masonry .views-field-field-video {
  background: #e9bf1d;
}
/* line 477, ../../../sass/colors/yellow/style.scss */
.wp-blog-masonry .views-field-name a {
  color: #e9bf1d;
}

/* line 485, ../../../sass/colors/yellow/style.scss */
.wp-blog-mix .views-field-type-image,
.wp-blog-mix .views-field-field-video {
  background: #e9bf1d;
}

/* line 491, ../../../sass/colors/yellow/style.scss */
.wp-ads li {
  background: #e9bf1d;
}
/* line 493, ../../../sass/colors/yellow/style.scss */
.wp-ads li + li {
  background: rgba(233, 191, 29, 0.9);
}
/* line 495, ../../../sass/colors/yellow/style.scss */
.wp-ads li + li + li {
  background: rgba(233, 191, 29, 0.8);
}
/* line 497, ../../../sass/colors/yellow/style.scss */
.wp-ads li + li + li + li {
  background: rgba(233, 191, 29, 0.7);
}
/* line 499, ../../../sass/colors/yellow/style.scss */
.wp-ads li + li + li + li + li {
  background: rgba(233, 191, 29, 0.6);
}

/* login */
/* line 513, ../../../sass/colors/yellow/style.scss */
#wp-user-wrapper #user-login-form .item-list li a:hover, #wp-user-wrapper #user-login-form .item-list li a :focus {
  color: #e9bf1d;
}
/* line 519, ../../../sass/colors/yellow/style.scss */
#wp-user-wrapper #user-login-form .form-submit:hover, #wp-user-wrapper #user-login-form .form-submit:focus {
  background: #e9bf1d;
  border-color: #e9bf1d;
}

/* wp-special-button */
/* line 528, ../../../sass/colors/yellow/style.scss */
.wp-special-button:hover, .wp-special-button:focus {
  color: #e9bf1d;
}
