/* Begin Style for header */

.navbar-default {
  background:$header-color;
}

.logo img {
  width:30%;
}

.main-container {
  margin-top:9%;
}

.block-tcss-login {
  .nav li {
    display:inline-block;
  }
}
/* End Style for header */
