/* COLORS */
$light-dark: #f0f0f0;
$black: #000;
$lighter-black: #181818;
$dark: #333;
$lighter-dark: #282828;
$white: #fff;
$grey: #999;
$grayer: #666;
$dark-grey: #ddd;
$light-grey: #f5f5f5;
$lighter-grey: #fafafa;

$cyan: #1abc9c;
$red: #f64243;
$violet: #a57bcd;
$blue: #3598db;
$brown: #c2a772;
$green: #36c877;
$orange: #e99b1f;
$yellow: #e9bf1d;

