/* COLORS */
/* COLORS */
/* line 5, ../../../sass/colors/green/style.scss */
a:hover, a:focus {
  color: #36c877;
}

/* line 10, ../../../sass/colors/green/style.scss */
ul.inline {
  /* end li */
}
/* line 11, ../../../sass/colors/green/style.scss */
ul.inline li {
  /* end a */
  /* end node-readmore */
}
/* line 12, ../../../sass/colors/green/style.scss */
ul.inline li a {
  color: #36c877;
}
/* line 14, ../../../sass/colors/green/style.scss */
ul.inline li a:hover, ul.inline li a:focus {
  color: #333333;
}
/* line 18, ../../../sass/colors/green/style.scss */
ul.inline li.node-readmore {
  /* end a */
}
/* line 19, ../../../sass/colors/green/style.scss */
ul.inline li.node-readmore a {
  background: #36c877;
  color: white;
}
/* line 22, ../../../sass/colors/green/style.scss */
ul.inline li.node-readmore a:hover, ul.inline li.node-readmore a:focus {
  background: #333333;
}

/* search */
/* line 34, ../../../sass/colors/green/style.scss */
#block-search-form:hover, #block-search-form:focus {
  color: #36c877;
}

/* view */
/* line 41, ../../../sass/colors/green/style.scss */
.views-field-title a:hover, .views-field-title a:focus {
  color: #36c877;
}

/* line 46, ../../../sass/colors/green/style.scss */
.views-field-sell-price {
  color: #36c877;
  font-family: "roboto_slabregular";
  font-size: 1.071em;
}

/* line 53, ../../../sass/colors/green/style.scss */
.wp-group-image .views-field-addtocartlink:hover {
  background: #36c877;
}
/* line 58, ../../../sass/colors/green/style.scss */
.wp-group-image .views-field-view-node:hover {
  background: #36c877;
}

/* line 66, ../../../sass/colors/green/style.scss */
.form-submit:hover, .form-submit:focus,
.form-actions > a:hover,
.form-actions > a:focus {
  background: #36c877;
  border-color: #36c877;
}

/* line 74, ../../../sass/colors/green/style.scss */
.form-submit[value="Checkout"],
#edit-continue,
#edit-submit {
  background: #36c877;
  border-color: #36c877;
}
/* line 77, ../../../sass/colors/green/style.scss */
.form-submit[value="Checkout"]:hover, .form-submit[value="Checkout"]:focus,
#edit-continue:hover,
#edit-continue:focus,
#edit-submit:hover,
#edit-submit:focus {
  background: #333333;
  border-color: #333333;
}

/* menu */
/* line 89, ../../../sass/colors/green/style.scss */
.navbar-default ul.menu li a.active, .navbar-default ul.menu li a.active-trail {
  color: #36c877;
}

/* .tb-megamenu */
/* line 102, ../../../sass/colors/green/style.scss */
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
  color: #36c877;
}
/* line 109, ../../../sass/colors/green/style.scss */
.tb-megamenu .nav > li.active > a, .tb-megamenu .nav > li.active > a:hover, .tb-megamenu .nav > li.active > a:focus {
  color: #36c877;
}
/* line 115, ../../../sass/colors/green/style.scss */
.tb-megamenu .nav > li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
  color: #36c877;
}
/* line 120, ../../../sass/colors/green/style.scss */
.tb-megamenu .dropdown-menu {
  /* end li */
}
/* line 124, ../../../sass/colors/green/style.scss */
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
  color: #36c877;
}
/* line 130, ../../../sass/colors/green/style.scss */
.tb-megamenu .dropdown-menu li.active > a, .tb-megamenu .dropdown-menu li.active > a:hover {
  color: #36c877;
}
/* line 137, ../../../sass/colors/green/style.scss */
.tb-megamenu .dropdown-menu .views-field-title a:hover, .tb-megamenu .dropdown-menu .views-field-title a:focus {
  color: #36c877;
}
/* line 143, ../../../sass/colors/green/style.scss */
.tb-megamenu .mega-dropdown-menu-more {
  /* end tb-block */
}
/* line 146, ../../../sass/colors/green/style.scss */
.tb-megamenu .mega-dropdown-menu-more .tb-block .views-field-taxonomy-catalog a {
  color: #999999;
}

/* View slideshow */
/* line 159, ../../../sass/colors/green/style.scss */
.main-slideshow .slideshow-content input[type="submit"],
.wp-slideshow2 .slideshow-content input[type="submit"] {
  background-color: #36c877;
  border-color: #36c877;
}
/* line 167, ../../../sass/colors/green/style.scss */
.main-slideshow .views-slideshow-controls-text-previous:hover, .main-slideshow .views-slideshow-controls-text-previous:focus,
.main-slideshow .views-slideshow-controls-text-next:hover,
.main-slideshow .views-slideshow-controls-text-next:focus,
.wp-slideshow2 .views-slideshow-controls-text-previous:hover,
.wp-slideshow2 .views-slideshow-controls-text-previous:focus,
.wp-slideshow2 .views-slideshow-controls-text-next:hover,
.wp-slideshow2 .views-slideshow-controls-text-next:focus {
  background: #36c877;
}

/* Bootstrap slideshow */
/* line 177, ../../../sass/colors/green/style.scss */
.bootstrap-slideshow .carousel-inner .slideshow-content input[type="submit"]:hover, .bootstrap-slideshow .carousel-inner .slideshow-content input[type="submit"]:focus {
  border-color: #36c877;
  color: #36c877;
}

/* line 187, ../../../sass/colors/green/style.scss */
.carousel-control:hover, .carousel-control:focus {
  background: #36c877;
}

/* .wp-slideshow2 */
/* line 196, ../../../sass/colors/green/style.scss */
.wp-slideshow-link .views-field-field-link a:hover, .wp-slideshow-link .views-field-field-link a:focus,
.wp-slideshow-link .views-field-field-link2 a:hover,
.wp-slideshow-link .views-field-field-link2 a:focus,
.wp-collection .views-field-field-link a:hover,
.wp-collection .views-field-field-link a:focus {
  background-color: #36c877;
  border-color: #36c877;
}

/* line 206, ../../../sass/colors/green/style.scss */
.wp-slideshow2 .wp-slideshow-link .views-field-field-link a:hover, .wp-slideshow2 .wp-slideshow-link .views-field-field-link a:focus,
.wp-slideshow2 .wp-slideshow-link .views-field-field-link2 a:hover,
.wp-slideshow2 .wp-slideshow-link .views-field-field-link2 a:focus {
  background-color: #36c877;
  border-color: #36c877;
}

/* */
/* line 217, ../../../sass/colors/green/style.scss */
.panel-column .block-menu ul.menu li a:hover,
.panel-column .block-menu ul.menu li a:focus {
  color: #36c877;
}

/* line 223, ../../../sass/colors/green/style.scss */
.tagclouds-term a:hover, .tagclouds-term a:focus {
  border-color: #36c877;
  color: #36c877;
}

/* line 230, ../../../sass/colors/green/style.scss */
.block-system .tagclouds-term a:hover, .block-system .tagclouds-term a:focus {
  color: #36c877;
}

/* line 240, ../../../sass/colors/green/style.scss */
#panel-footer .block-menu ul.menu li a:hover, #panel-footer .block-menu ul.menu li a:focus {
  color: #36c877;
}

/* line 250, ../../../sass/colors/green/style.scss */
#footer a {
  color: #36c877;
}
/* line 252, ../../../sass/colors/green/style.scss */
#footer a:hover, #footer a:focus {
  color: white;
}
/* line 260, ../../../sass/colors/green/style.scss */
#footer .social-list li a:hover, #footer .social-list li a:focus {
  color: #36c877;
}

/* line 270, ../../../sass/colors/green/style.scss */
#newsletter-subscribe-form #subscribe:hover:after {
  border-left-color: #36c877;
}

/* line 276, ../../../sass/colors/green/style.scss */
.btn-btt {
  background: #36c877;
}
/* line 278, ../../../sass/colors/green/style.scss */
.btn-btt:hover, .btn-btt:focus {
  background: #333333;
}

/* line 283, ../../../sass/colors/green/style.scss */
.main-title {
  background: #36c877;
}

/* blog */
/* line 291, ../../../sass/colors/green/style.scss */
.page-blog .action-links li a {
  background: #36c877;
}
/* line 293, ../../../sass/colors/green/style.scss */
.page-blog .action-links li a:hover, .page-blog .action-links li a:focus {
  background: #333333;
}

/* line 302, ../../../sass/colors/green/style.scss */
.view-blog-view .blog-extra-info {
  color: #999999;
  font-size: .929em;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
/* line 144, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info:after {
  border-bottom: 1px solid #f0f0f0;
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100px;
}
/* line 152, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info a {
  color: #1abc9c;
}
/* line 154, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info a:hover, .view-blog-view .blog-extra-info a:focus {
  color: #999999;
}
/* line 159, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info > span > span + span {
  margin-left: 10px;
}
/* line 162, ../../../sass/includes/_mixins.scss */
.view-blog-view .blog-extra-info > span i {
  margin-right: 8px;
}
/* line 304, ../../../sass/colors/green/style.scss */
.view-blog-view .blog-extra-info a {
  color: #36c877;
}
/* line 306, ../../../sass/colors/green/style.scss */
.view-blog-view .blog-extra-info a:hover, .view-blog-view .blog-extra-info a:focus {
  color: #999999;
}
/* line 313, ../../../sass/colors/green/style.scss */
.view-blog-view .views-field-view-node a:hover, .view-blog-view .views-field-view-node a:focus {
  background: #36c877;
}

/* node */
/* line 322, ../../../sass/colors/green/style.scss */
.node .submitted {
  color: #999999;
  font-size: .929em;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
/* line 144, ../../../sass/includes/_mixins.scss */
.node .submitted:after {
  border-bottom: 1px solid #f0f0f0;
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100px;
}
/* line 152, ../../../sass/includes/_mixins.scss */
.node .submitted a {
  color: #1abc9c;
}
/* line 154, ../../../sass/includes/_mixins.scss */
.node .submitted a:hover, .node .submitted a:focus {
  color: #999999;
}
/* line 159, ../../../sass/includes/_mixins.scss */
.node .submitted > span > span + span {
  margin-left: 10px;
}
/* line 162, ../../../sass/includes/_mixins.scss */
.node .submitted > span i {
  margin-right: 8px;
}
/* line 324, ../../../sass/colors/green/style.scss */
.node .submitted a {
  color: #36c877;
}
/* line 326, ../../../sass/colors/green/style.scss */
.node .submitted a:hover, .node .submitted a:focus {
  color: #999999;
}

/* line 334, ../../../sass/colors/green/style.scss */
.node-wp-product .group-item-info {
  /* add-to-cart */
}
/* line 336, ../../../sass/colors/green/style.scss */
.node-wp-product .group-item-info .sell-price .uc-price {
  color: #36c877;
}
/* line 342, ../../../sass/colors/green/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-cart {
  background-color: #36c877;
  border-color: #36c877;
}
/* line 345, ../../../sass/colors/green/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-cart:hover, .node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-cart:focus {
  background-color: #333333;
  border-color: #333333;
}
/* line 350, ../../../sass/colors/green/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-wishlist {
  background: #f0f0f0;
  border-color: #f0f0f0;
}
/* line 353, ../../../sass/colors/green/style.scss */
.node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-wishlist:hover, .node-wp-product .group-item-info .add-to-cart .form-actions .node-add-to-wishlist:focus {
  background: #333333;
}

/* Primary */
/* line 366, ../../../sass/colors/green/style.scss */
ul.primary li.active a {
  border-color: #36c877;
  background: #36c877;
}

/* user-login */
/* line 375, ../../../sass/colors/green/style.scss */
.profile a {
  color: #36c877;
}
/* line 378, ../../../sass/colors/green/style.scss */
.profile a:hover, .profile a:focus {
  color: #333333;
}

/* wp-404 */
/* line 386, ../../../sass/colors/green/style.scss */
.wp-404 .wp-return-back {
  background: #36c877;
}
/* line 388, ../../../sass/colors/green/style.scss */
.wp-404 .wp-return-back:hover, .wp-404 .wp-return-back:focus {
  background: #333333;
}

/* check out */
/* line 401, ../../../sass/colors/green/style.scss */
#cart-form-pane table td.subtotal .uc-price,
#cart-pane table td.subtotal .uc-price,
.order-review-table table td.subtotal .uc-price {
  color: #36c877;
}

/* line 411, ../../../sass/colors/green/style.scss */
.uc-cart-checkout-form .fieldset-wrapper a {
  color: #36c877;
}
/* line 413, ../../../sass/colors/green/style.scss */
.uc-cart-checkout-form .fieldset-wrapper a:hover, .uc-cart-checkout-form .fieldset-wrapper a:focus {
  color: #333333;
}

/* block */
/* line 422, ../../../sass/colors/green/style.scss */
.wp-cart-status .shopping-bad {
  background: #36c877;
}

/* line 427, ../../../sass/colors/green/style.scss */
.sidebar {
  /* end quicktabs-tabs */
  /* end quicktabs-tabpage */
}
/* line 125, ../../../sass/includes/_mixins.scss */
.sidebar .item-list .quicktabs-tabs li.active:after {
  height: 0;
  border-top: 5px solid #1abc9c;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
/* line 431, ../../../sass/colors/green/style.scss */
.sidebar .item-list .quicktabs-tabs li.active:after {
  border-top-color: #36c877;
}
/* line 434, ../../../sass/colors/green/style.scss */
.sidebar .item-list .quicktabs-tabs li.active a {
  background: #36c877;
}
/* line 443, ../../../sass/colors/green/style.scss */
.sidebar .quicktabs-tabpage .views-field-title a:hover, .sidebar .quicktabs-tabpage .views-field-title a:focus {
  color: #36c877;
}

/* line 451, ../../../sass/colors/green/style.scss */
.ui-slider .ui-slider-range {
  background: #36c877;
}

/* faqs */
/* line 458, ../../../sass/colors/green/style.scss */
.faq-question.faq-qa-visible .active {
  color: #36c877;
}

/* latest-blog */
/* line 466, ../../../sass/colors/green/style.scss */
.latest-blog .views-field-type-image {
  background: #36c877;
}

/* line 473, ../../../sass/colors/green/style.scss */
.wp-blog-masonry .views-field-field-image,
.wp-blog-masonry .views-field-field-video {
  background: #36c877;
}
/* line 477, ../../../sass/colors/green/style.scss */
.wp-blog-masonry .views-field-name a {
  color: #36c877;
}

/* line 485, ../../../sass/colors/green/style.scss */
.wp-blog-mix .views-field-type-image,
.wp-blog-mix .views-field-field-video {
  background: #36c877;
}

/* line 491, ../../../sass/colors/green/style.scss */
.wp-ads li {
  background: #36c877;
}
/* line 493, ../../../sass/colors/green/style.scss */
.wp-ads li + li {
  background: rgba(54, 200, 119, 0.9);
}
/* line 495, ../../../sass/colors/green/style.scss */
.wp-ads li + li + li {
  background: rgba(54, 200, 119, 0.8);
}
/* line 497, ../../../sass/colors/green/style.scss */
.wp-ads li + li + li + li {
  background: rgba(54, 200, 119, 0.7);
}
/* line 499, ../../../sass/colors/green/style.scss */
.wp-ads li + li + li + li + li {
  background: rgba(54, 200, 119, 0.6);
}

/* login */
/* line 513, ../../../sass/colors/green/style.scss */
#wp-user-wrapper #user-login-form .item-list li a:hover, #wp-user-wrapper #user-login-form .item-list li a :focus {
  color: #36c877;
}
/* line 519, ../../../sass/colors/green/style.scss */
#wp-user-wrapper #user-login-form .form-submit:hover, #wp-user-wrapper #user-login-form .form-submit:focus {
  background: #36c877;
  border-color: #36c877;
}

/* wp-special-button */
/* line 528, ../../../sass/colors/green/style.scss */
.wp-special-button:hover, .wp-special-button:focus {
  color: #36c877;
}
