.views-exposed-form .views-exposed-widget .form-submit {
/*margin-top:0;*/
}
.app {
position:relative;
color: #FFF;
background: #72656c url('../../../dummies/testimonials_bg.jpg' ) center center no-repeat;
background-size: cover;
}
.views-exposed-form
{
padding-left:1em;
}
.srch-button {
/*padding: .81em;
padding-left: 3em;
padding-right: 3em;
*/
font-size:100%;
}
.srch-button:hover {
color:#f1155a;
background-color:#fff;
}
.form-bookd {
max-width: 295px;
margin-right: 1em;
}
.container-inline {
margin-top: 1em;
margin-bottom: 1em;
}
.gs-search .select-box {
max-width: 130px;
text-align: left;
}
.gs-search {
padding-top:95px;
}
.banner-search .views-exposed-form label {
text-align: left;
color: #fff;
}
.banner-search .default-form .select-box .value-holder {
color:#fff;
}
.gs-nav ul > li:before {
content:'';
}
.gs-nav li a.active {
color:#fff;
background:#f1155a;
padding:0.9em;
border-radius:7px;
}
.header-tools {
margin-top:2em;
}
#browse {
padding: 125px 0 50px;
background-color:#423338;
}
.banner-search-inner {
padding: 0 0px;
}
li a.active {
color: #FDFDFD;
font-weight: 600;
}
.header-nav a {
color: #FDFDFD;
}